/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app)  */



#pa-footer{
	background-color: #DEDEDE;
	background-image: url(imgs/background.png);
	background-position: 0px -96px;
	padding: 4px;
	border-top: solid 1px #BDCFFF;
	color:gray;
        font-weight: bold;
        text-align: right;
        padding-right: 30px;
}


#pa-header{
	padding:4px;
    background-image: url(imgs/background-tb.png);
	color:black;
        font-weight: bold;
        text-align: left;
        padding-left: 10px;
    font-size: 12pt;
}

/** Tools Panel */
.lab-Tools-Panel{
	background-color: #E5E5E5;
	background-image: url(imgs/background-tb.png);
	background-position: 0px 0px;
	padding: 3px;
}
.lab-Toolbar {
	background-color: #E5E5E5;
    background-image: url(imgs/background-tb.png);
	background-repeat: repeat-x;
}
.lab-Toolbar * {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.lab-Toolbar .separator {
	margin-left: 2px;
	margin-right: 2px;
}
.lab-Toolbar .gwt-PushButton {
	background-image: none;
	margin-left: 1px;
	padding: 5px;
}
.lab-Toolbar .gwt-PushButton-up{
	border: 0px;
	padding: 5px;
}
.lab-Toolbar .gwt-PushButton-up-hovering{
	border: solid 1px #A1BADF;
	padding: 4px;
}
.lab-Toolbar .gwt-PushButton-down-hovering{
	border: solid 1px #A1BADF;
	background-color: #DDE1EB;
	padding: 4px;
}

.gwt-MenuBar-vertical{
	border-top: solid 1px #CECFCE;
	border-left: solid 1px #CECFCE;
	border-right: solid 1px #636563;
	border-bottom: solid 1px #636563;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator{
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner{
	height: 1px;
	padding: 0px;
	border: 0px;
	background: #CECFCE;
	overflow: hidden;
}
.gwt-MenuBar-vertical .gwt-MenuItem{
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	width: 210px;
	white-space: nowrap;
}
.gwt-MenuBar-vertical .gwt-MenuItem-selected{
	background-color: #D6EBFF;
}
.gwt-MenuBar-vertical .gwt-MenuItem span {
	display: inline-block;
	padding: 3px;
	margin-right: 2px;
}
.gwt-MenuBar-vertical .gwt-MenuItem span img {
	vertical-align: text-bottom;
}
.gwt-MenuBar-vertical .gwt-MenuItem-Highlighted span {
	display: inline-block;
	padding: 2px;
	border: solid 1px #63A6E7;
	background-color: #D6E3F7;
	margin-right: 2px;
}
.gwt-MenuBarPopup {
	z-index: 5;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
	display: none;
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopRight {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomRight {
	display: none;
}


